*{
font-family: "Roboto", sans-serif;
}

.sq-img{
aspect-ratio: 1/1;
  object-fit: cover;
}

header{
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
}
.textonmainbanner{
color: white;
}
.swiper-slide{
  height: 100vh;
    width: 100%;
    display: flex;
    padding: 48px;
    flex-direction: column-reverse;
}
.swiper{
  margin: 0;
}
.toggletabs{
  background-color: #f7f7f7;
  border: 1px solid #ededee;
  width: 420px;
}
.toggletabs .nav-link.active {
  background-color: #202e42;
  color: white;     
  border-radius: 10px; 
}
.toggletabs li {
max-width: 210px;
font-size: 17px;
}
.end{
  justify-content: end;
}
.toggletabs .nav-link.active:hover {
  background-color: #202e42;
  color: white;      
  border-radius: 10px; 
}
.toggletabs .nav-link:hover{
  color: #202e42;
}
li button{
  width: 100%;
}
header ul{
  display: flex; 
  list-style: none;
  margin: 0;
  gap: 35px;
  color: #07206a;
  font-weight: 500;
  font-size: 14px;
}
li{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
li i{
  font-size: 19px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftheader img{
height: 22px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 20px;
}
.swiper-button-prev:After,.swiper-button-next:After{
  content: "";
}
.swiper-button-next,.swiper-button-prev{
  color: white;
  border: 1px solid white;
  padding: 25px;
  border-radius: 50px;
  transition: 0.2s ease all;
    margin: 0 38px;

}

.swiper-button-prev:hover,.swiper-button-next:hover{
  content: "";
  background-color: rgba(255, 255, 255, 0.123);
}

.whitebtn{
  padding: 10px 40px ;
  background-color: white;
  border-radius: 9px;
  border: none;
  display: flex;
align-items: center;
justify-content: center;
gap: 10px;
font-weight: 500;
color: #07206a;
}
.bigtitle{
  font-size: 50px;
}
.darkblue{
  color: #202e42;
}
.swiper-pagination-bullet{
  border-radius: 100%;
  background-color: white;
  width: 8px;
  height: 8px;
}
