* {
  font-family: "Roboto", sans-serif;
}
.faqpage{
    color: #202e42;
    position: relative;
    overflow: hidden;
}
.faqpage::before{
        background-image: url("../../assets/images/circle.png");
position: absolute;
top: 0;
width: 100%;
height: 800px;
max-height: 800px;
content: "";
z-index: -1;
background-repeat: no-repeat;
background-position: top;
transform: rotate(90deg)translateX(-250px) scale(1.5);
background-size: contain;
}
.accordion-button::after{
    display: flex;
}

.accordion-button:not(.collapsed) {
    border-bottom: 1px solid gray;
    background-color: transparent;
    color: black; 
    font-weight: bold;
}

.accordion-button {
    border-bottom: 1px solid gray;
font-weight: normal;
}

.accordion-header .collapsed{
    background-color: transparent;
    color: black;
}
.accordion-item{
        color: black;
    border: none;
        background-color: transparent;

}
.faqpage .nav-tabs{
gap: 20px;
background-color: transparent;
}
.faqpage .searchinput input{
    padding: 15px 20px ;
}
.faqpage button{
    background-color: #07206a;
    color: white;
}
.searchbuttoncontainer{
padding: 40px;
border-radius: 10px;
background-color: white;
}
.searchinput i{
    color: gray;
}
.faqpage h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.faqpage p{
    text-align: center;
        font-weight: normal;
font-size: 18px;
}

header {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.tabcomponent p{
  font-size: 14px;
}

.tabcomponent{
    width: 100%;
    background: #f7f7f7;
cursor: pointer;
    border-radius: 12px;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    gap: 20px;
}
.tabcomponent.active{
  background-color: #d6ddf8;
}
.accordioncomponentcontainer{
    display: none;
}


.accordion{
--bs-accordion-inner-border-radius:0;
}
.accordionscontainer{
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.faqpage .accordionscontainer .show{
    display: block ;
}
.tabcomponent i{
padding: 15px 15px;
border-radius: 12px;
background: linear-gradient(to bottom, #e3e7f8, #e3e7f846);
font-size: 20px;
border: 1px solid white;
}

.textonmainbanner {
color: white;
display: inline-flex;
flex-direction: column;
}

.mainswiper {
  height: calc(100vh - 80px);
}
.fixed-header{
  position: sticky !important;
  animation: slidedown 0.3s ease forwards;
}
 @keyframes slidedown {
  from{
    transform: translateY(-80px);
  }
  to{
    transform: translateY(0);
  }
 }
.mainswiperslide {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 48px;
  flex-direction: column-reverse;
}

.swiper {
  margin: 0;
}

.car_swiper {
  height: 100%;
}

.tabscontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;
}

.tab {
  flex: 1;
  height: 100%;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.233);
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.123);
}

.tab:hover img {
  transform: rotate(5deg) scale(1.1);
}

.tab:hover i {
  transform: rotate(0deg);
  background-color: #012966;

}

.tabtext {
  width: 100%;
}

.tabtext i {
  transform: rotate(-45deg);
  transition: 0.3s ease all;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.tabimgcontainer {
  flex: 0 0 40%;
  overflow: hidden;

}

.tabimgcontainer img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  transition: 0.3s ease all;
}

.toggletabs {
  background-color: #f7f7f7;
  border: 1px solid #ededee;
  width: 420px;
}

.toggletabs .nav-link.active {
  background-color: #202e42;
  color: white;
  border-radius: 10px;
}

.toggletabs li {
  max-width: 210px;
  font-size: 17px;
}

.end {
  justify-content: end;
}

.nav-item .nav-link {
  padding: 10px 20px;
    border-radius: 12px;

}

.toggletabs .nav-link.active:hover {
  background-color: #202e42;
  color: white;
}

.toggletabs .nav-link:hover {
  color: #202e42;
}

li button {
  width: 100%;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 25px;
  color: #202e42;
  font-weight: 500;
  font-size: 16px;
}
.offcanvas ul{
    gap: 0px !important;
    text-align: left;
}
.offcanvas-header .btn-close{
  margin: 0;
}

.offcanvas ul li{
    width: 100%;
    justify-content: start;
   
}
.offcanvas .nav-link{
   padding: 5px !important;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

li i {
  font-size: 19px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftheader img {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.swiper-button-prev:After,
.swiper-button-next:After {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  border: 1px solid white;
  padding: 25px;
  border-radius: 50px;
  transition: 0.2s ease all;
  margin: 0 38px;

}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  content: "";
  background-color: rgba(255, 255, 255, 0.123);
}

.whitebtn {
  padding: 10px 40px;
  background-color: white;
  border-radius: 9px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  color: #07206a;
}

.bigtitle {
  font-size: 50px;
}

.darkblue {
  color: #202e42;
}

.swiper-pagination-bullet {
  border-radius: 100%;
  background-color: white;
  width: 8px;
  height: 8px;
  transition: 0.3s ease all;
}

.swiper-pagination-bullet-active {
  border-radius: 50px;
  background-color: white;
  width: 16px;
  height: 8px;
}

.feature i {
  width: 60px;
  height: 60px;
  background-color: #0e2e5d18;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  font-size: 25px;
  color: #082b5a;
}

.flex110 {
  display: flex;
  flex: 1 1 0%;
}

.bg-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-height: 260px;
  max-width: 100%;
}

.itemcontent {

  padding: 40px 24px;
  position: relative;
  flex: 1;
}

.itemscontainer {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

p {
  margin: 0;
}

.itemscontainer .item {
  display: flex;
  background: #f7f7f7;
  border-radius: 12px;
  border: 1px solid #e4e4e5;
  overflow: hidden;
  flex: 1;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--neutral-gray-900);
}

.Reason {
  border: 0.1px solid rgba(255, 255, 255, 0.356);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  z-index: 6;
  padding: 10px 10px 30px 10px;
}

.Reason h1 {
  font-size: 25px;
}

.Reason img,
.reasoncontent {
  text-align: center;
  object-fit: cover;
  max-height: 50%;
  padding: 10px 0 10px 0;
}

.reasoncontent p {
  font-size: 16px;
  padding: 0px 10px 50px 10px;
}

.big-Title {
  font-size: 48px;
  font-weight: 700;
}

.spacecomponent {
  margin-top: 50px;
}

.widebutton {
  background-color: #082879;
  color: white;
  border: none;
  border-radius: 12px;
}

.joinus {
  color: #082879;
}

.joinus p {
  opacity: 1;
}

.joinus p span {
  opacity: 0.5;
}

.joinus input {
  border: none;
  background-color: #f7f7f7;
  padding: 10px 60px 10px 10px;
  border-radius: 12px;
}

.joinus input::placeholder {
  color: #07206a;
}

.jobcard {
  display: flex;
  flex-direction: column;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  padding: 20px 15px;
}

.jobcard h2 {
  font-size: 25px;
}

.jobcategorie p {
  background-color: #efda08;
  border-radius: 50px;
  padding: 5px 15px;
  color: black;
  font-weight: 400;
}

.jobcategorie i {
  color: black;
}

.ouroffice p {
  padding: 0px 250px;
}

.officecontainer {
  border-radius: 0 0 10px 10px;
}

.officecontainer:hover img {
  transform: rotate(2deg) scale(1.1);
}

.officecontainer img {
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  transition: 0.3s ease all;
}

.officecontainer .imgcontainer {
  overflow: hidden;
}

.officecontent {
  transform: translateY(-12px);
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  justify-content: space-between;
  gap: 5px;
}

.officecontent p {
  padding: 0;
}

.tags {
  display: inline-flex;
  gap: 5px;
  margin-top: 20px;
}

.tag {
  background-color: #ffffff59;
  padding: 5px 15px;
  color: white;
  border-radius: 50px;
}

.date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.business-dropdown {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  background: white;
  display: none;
  z-index: 9999;
}

.business-dropdown.show {
  display: block;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


.customdropdown{
  position: absolute;
  top: 100%;
    background-color: rgb(224, 224, 224);
  width: 100%;
  z-index: 20;
  left: 0;
  height: 1px;
    display: flex;
  align-items: center;
  overflow: hidden;
color: rgb(255, 255, 255);
}
.customdropdown img{
  opacity: 0;
}
.customdropdown ul{
  display: flex; 
color: rgb(224, 224, 224);
}
.dropdownshow{
  height: 60px;
    background-color: rgb(224, 224, 224);
}
.dropdownshow ul{
  display: flex; 
color: rgb(0, 0, 0);
}

a{
  color: inherit;
  text-decoration: none;
}

.leftheader .dropdown-toggle::after{
display: none;
}

.businessdropdown {
  opacity: 0;
  width: 100%;
}
.megamenu{
  position: static;
}
.date i {
  transform: rotate(-45deg);
}
.whychooseshift {
  width: 100%;
}
.accordionitem {
  border: 1px solid #ffffff4b;
  margin-bottom: 10px;
  border-radius: 12px;
  overflow: auto;
  background: linear-gradient(to bottom, #ffffff30, #ffffff79);
  color: white;
  backdrop-filter: blur(50px);

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #000000 !important;
  color: #202e42 !important;
  box-shadow: 0 0 0px 1000px #f5f5f5 inset !important;
  -webkit-text-fill-color: #202e42 !important;
}
.accordion-button:not(.collapsed) {
  border: 1px solid #ffffff50;
  outline: none;
  background-color: inherit;
  box-shadow: none;
  border: none;
}

.accordion-button {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px !important;
  
}

.accordion-body{
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
        padding: 20px 40px !important;
}
.accordion-button i {
  transform: rotate(-45deg);
  transition: 0.3s ease all;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-button {
  padding: 30px 40px;
  font-size: 20px;
}

.accordion-body {
  padding: 0px 20px 20px 70px;
  font-size: 18px;
}

.accordion {
  --bs-accordion-btn-focus-border-color: inherit;
  --bs-accordion-btn-focus-box-shadow: inherit;
}

body {
  background-color: #ffffff;
  color: white;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-top-200 {
  padding: 200px 0 0px 0;

}

.spacepage {
  padding: 100px 0 50px 0;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.leasesection img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 2/1;
  width: 100%;
  height: 400px;
  border-radius: 12px;
}

.leasesection h1 {
  font-size: 50px;
}

.leasesection p {
  font-size: 16px;
  font-weight: 300;
}

.leasesection {
  background: linear-gradient(to bottom, #161616, #313131);
}
.faqpage .container{
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.basicbutton {
  padding: 10px 40px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  color: #07206a;
  font-size: 16px;
  max-width: auto;
  display: inline-block;
}
.swiper-slide {
  transform: none !important;
}

.blurcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  flex-direction: column;
  padding: 20px 50px;
  text-align: center;
  color: white;
  z-index: 50;
  gap: 20px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.397);
background: linear-gradient(224.96deg, rgba(255, 255, 255, 0.0117) -10.38%, rgba(153, 153, 153, 0.09) 138.2%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
backdrop-filter: blur(80px);
overflow: hidden;
}

.blurcontainer i {
  height: 60px;
  width: 60px;
  font-size: 30px;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background-color: #07206a;
  justify-content: center;
}


.circlebg {
  background: url(./assets/images/Ellipse\ 12.png) top left no-repeat;

}

.Reason .iconcontainer {
  font-size: 80px;
  width: 100%;
  height: 40%;
  padding: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Reason .iconcontainer i {
  width: 100px;
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  color: #07206a;
  justify-content: center;
  border-radius: 50px;
  font-size: 40px;
}

.reasons .container-fluid,
.faq {
  position: relative;
  overflow: hidden;
}

.buttoncontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.blackbutton {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  width: 400px;
}

.reasons button {
  color: #07206a;
}

.reasons .container-fluid::before,
.faq::before {
  content: "";
  position: absolute;
  left: -100px;
  top: -00px;
  width: 100%;
  height: 100%;
  background: url(./assets/images/blur\ 1.png) top left no-repeat;
  opacity: 0.2;
  background-size: auto 700px;
  pointer-events: none;
}

.reasons .container-fluid::after,
.faq::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 150px;
  right: -450px;
  background: url(./assets/images/blur\ 1.png) bottom right no-repeat;
  opacity: 0.2;
  background-size: auto 500px;
  z-index: 2;
  pointer-events: none;
}

.reasons {
  overflow: hidden;
}

.form h1 {
  font-size: 48px;
}

.form p {
  font-size: 18px;
  font-weight: normal;
  max-width: 80%;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputcontainer label {
  display: flex;
  align-items: center;
  gap: 3px;
}

.formcontainer form p {
  min-width: 100%;
  display: flex;
  justify-content: end;
  font-size: 10px;
  margin-bottom: 20px;
}

.form {
  margin-top: 100px;
  padding-top: 100px;
}

.star {
  color: red;
}

input,
.input {
  background-color: rgba(255, 255, 255, 0.205);
  border: none;
  padding: 15px 20px;
  border-radius: 12px;
  color: white;
}

.canwehelpinput {
  height: 200px;
  position: relative;
}

.canwehelpinput::placeholder {
  top: 20px;
  left: 15px;
  position: absolute;
}

textarea {
  resize: none;
}

.float1 {
  width: 200px;
  height: 200px;
  background-color: white;
  left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  top: 330px;
  border: 1px solid rgba(255, 255, 255, 0.397);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  font-size: 150px;
  color: #eef0fc;
}

.float2 {
  width: 250px;
  height: 250px;
  background-color: rgb(182, 123, 123);
  left: 30px;
  top: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  font-size: 150px;
  color: #eef0fc;
}

.formcontainer form button {
  width: 100%;
}


footer {
  padding: 100px 80px 0px 80px;
    background-color: #1c1c1c;

}

footer img {
  height: 35px;
  width: auto;
}

.gryaline {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ececec;
}
.offcanvas .dropdown-menu {
  position: static;
  float: none;
  width: 100%;
  margin-top: 0.5rem;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.leftheader .dropdown-menu.show{
  top: 80px;
  transition: 0.3s ease all;
  display: flex;
  gap: 0;
  flex-direction: column;
}
.leftheader .dropdown-menu.show li{
width: 100%;
}
.leftheader .dropdown-menu{
  transform:  translate(0px, 80px);
  transition: 0.3s ease all;
  display: none;
}
.offcanvas-body ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: none;
}
.offcanvas .nav-link ,.offcanvas .nav-link:active,.offcanvas .nav-link:hover{
  color: rgb(0, 0, 0) !important;
}
.dropdownn{
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  width: 100%;
}
.searchinput:has(input:focus){
  outline: 2px solid black;
  border-radius: 8px;
}
#personalusedropdown,
#BusinessSolutionsdropdown{
  font-weight: normal;
  gap: 5px !important;
  margin-bottom: 8px;
}
.searchinput{
  padding: 0 0 0 15px;
  color: black;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
}
.searchinput input:focus{
outline: none;
}
.searchinput input{
  color: black;
flex: 1;
  background-color: rgb(245, 245, 245);
padding: 5px;
}
.dropdownn[aria-expanded="false"]::after{
  font-family: "bootstrap-icons";
  content: "\F282";
  margin-left: 8px;
  font-size: 1rem;
  transition: transform 0.3s ease;
}
.dropdownn[aria-expanded="true"]::after{
  font-family: "bootstrap-icons";
  content: "\F286";
  margin-left: 8px;
  font-size: 1rem;
  transition: transform 0.3s ease;
}
.offcanvas .dropdown-item {
  padding-left: 1.5rem;
}
.iso {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iso img {
  height: 80px;
  width: auto;
}

.socialcontainer {
  display: flex;
  gap: 10px;
}

.socialcontainer i {
  font-size: 25px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
}

.carswiper {
  background: linear-gradient(to bottom, #181a1f, #393939);
  padding: 100px 0 100px 80px;
  position: relative;
}

.carswipercontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carswipercontent button {
  max-width: 300px !important;
}

.carswipercontent p {
  font-size: 18px;
  font-weight: 500;
}

.carswipercontent h1 {
  font-weight: bold;
  letter-spacing: 2px;
}

.arrowcontainer {
  gap: 20px;
  display: flex;
  align-items: center;
}

.arrowcontainer div {
  margin: 0;
}

.filterarrows {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 0px;
}

.car_next,
.car_prev {
  position: inherit;
  max-height: 100%;
}

.filtercontainer {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.filter {
  padding: 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.193);
  border-radius: 12px;
  cursor: pointer;
  font-size: 13px;
}
.floatimg{
  width: 350px;
}
.filter_active {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #202226;
}

.filter_active::before {
  content: "✔️";
}

.car_slide {
  height: 450px ;
  border: 1px solid rgba(255, 255, 255, 0.253);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.116);
  position: relative;
  overflow: hidden;
  width: auto;
}

.car_slide img {
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.car_swiper .swiper-slide-active img {
  transform: translateX(-140px) scale(1.3) ;
  padding: 20px 0;
transition: 0.3s ease transform;
}
.carimgconatainer img {
  width: auto;
height: 100%;
transform: translateX(-100px) ;
}

.car_wrapper {
  align-items: flex-end;
  display: flex;
  margin-top: 15px;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-end;
}

.car_pagination {
  align-items: center;
  display: flex;
  justify-content: end;
  gap: 15px;
  padding: 0 300px 0 0;
}

.cartype p {
  background-color: rgba(255, 255, 255, 0.151);
  width: auto;
  color: white;
  padding: 10px;
  border-radius: 12px;
}


.whatshappening .imgcontainer img{
width: 390px;
height: 280px;
object-fit: cover;
}

.carimgconatainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(200px); 
  max-height: 100%;
}

.tabs ul {
  border: 2px solid rgb(145, 145, 145) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
}

.nav-tabs .nav-link.active {
  color: #131f6b;
  background-color: white;
  border: none;
}

.nav-tabs {
  background-color: rgb(54, 54, 54);
  border-radius: 15px !important;
  border: none !important;
}

.nav-link {
  border-radius: 12px;
  color: rgb(212, 212, 212);
  padding: 10px 50px !important;
}

.nav-link:hover {
    color: rgb(212, 212, 212);

}

.nav-item:hover,
.nav-item,
.nav-link:hover,
.nav-item,
.nav-item:hover,
.nav-link,
.tabs ul li,
.nav-tabs {
  border: none !important;
}
.leftheader,.leftheader ul{
  height: 100%;
}
.leftheader .dropdown ul{
  height: auto !important;
  padding: 0;
  border-radius: 12px;
    overflow: hidden;

}
.leftheader .dropdown ul li{
padding:0px;
}
.leftheader .dropdown ul li a{
padding: 15px;
display: flex;
align-items: center;
gap: 5px;
}
.leftheader .dropdown ul li a img{
margin: 0;

max-width: 30px;
}
.leftheader .dropdown ul li:after{
display: none;
border-radius: 12px;
}
 ul li{
cursor: pointer;
height: 100%;
 }
ul li {
  position: relative;
}

header ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease;
}

ul li:hover::after {
  width: 100%;
    background-color: #012966;

}

.newscontainer img {
  max-width: 100%;
}

.newscontainer {
  border-radius: 12px;
  overflow: hidden;
}

.newscontent {
  background-color: #383838;
  border-radius: 12px;
  transform: translateY(-10px);
  padding: 25px;
}

.newscontent span {
  color: rgb(192, 192, 192);
}
.modal-content{
  width: auto;
  max-height: 100vh;
}

.carspecificationmodal .container-fluid{
  padding: 0;
flex: 1;
}
.specificationwindowcontainer{
 background-color: white;
 z-index: 20;
 border-radius: 12px;
 position: relative;
 color: #242e42;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: space-between;
 padding: 40px;
}
.tabtoggle{
  width: 100%;
  background-color: red;
  padding: 10px 25px;
  border-radius: 8px;
  margin-bottom: 25px;
}
.specificationwindowcontainer button{
  border: none;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px 0;
  transition: 0.3s ease all;
  color: #131f6b;
  font-size: 18px;
font-weight: 500;
}
.specificationwindowcontainer .img-container{
display: flex;
align-items: center;
justify-content: center;

}
.specificationwindowcontainer .img-container img{
  width: 800px;
  height: auto;
}
.specificationwindowcontainer button:hover{
background-color: rgb(227, 227, 227);
}
.close{
    transform: rotate(0deg);
font-size: 18px;
  transition: 0.3s ease all;
}
.specificationwindowcontainer .close:hover{
  cursor: pointer;
  transform: rotate(180deg);
}
.Specification{
  border: none;
  padding: 10px 50px;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.297);
  transition: 0.3s ease all;
  border-radius: 12px;
}
.Specification:hover{
background-color: rgba(128, 128, 128, 0.263);
}
.custommodalstyle {
width: 70vw;
max-width: none;       
height: 80vh;
}

.modal.fade .modal-dialog{
  transition: all 0.4s ease;
  transform: translate(0 ,0);
}
.cartab{
  background-color: #e7e9f0;
  padding: 5px 20px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
}
.cartab span{
  font-weight: 800;
}

.h-md-100{
  height: 100%;
}

.offcanvas.offcanvas-top{
  height: auto;
  border: none;
}
.offcanvas ul{
  height: auto;
}
.offcanvas ul li::after{
content: none !important;
}
@media (max-width: 1124px){

  .car_slide {
  height: 350px ;
  border: 1px solid rgba(255, 255, 255, 0.253);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.116);
  position: relative;
  overflow: hidden;
  
}



  .carswiper {
  background: linear-gradient(to bottom, #181a1f, #393939);
  padding: 50px 0 0 0px;
}
.carswipercontent{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px
}
header{
  padding: 0;
}
.car_wrapper {
  align-items: flex-end;
  display: flex;
  min-height: 400px;
}}

@media (max-width: 768px) {
  .car_wrapper {
  align-items: flex-end;
  display: flex;
}
.tabscotaniner{
  position: absolute;
  background-color: black ;
  z-index: 100000;
  top: 90px;
  opacity: 0;
  left: 0;
  gap: 0px !important;
  margin: 0 10px;
  border-radius: 12px; 
   overflow: hidden;
   pointer-events: none;
   transition: 0.2s ease-out all;
   z-index: 100000000000;
}
.tabscotaniner.active{
  top: 70px !important;
  opacity: 1;
     pointer-events: all;

}

.togglebutton{
  border-radius: 12px !important;
}
.modal-dialog,.modal-content{
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
}

.overflowscreens{
  overflow: auto;
}

.whatshappening .imgcontainer img{
width: 350px;
height: auto;
object-fit: cover;
}
.newscontainer img{
  max-width: none;
}
  .leftheader img {
    margin: 0px;
  }

  .leftheader ul {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carswiper {
    padding: 0;
  }
.h-md-100{
  height: auto;
}
  .car_pagination {
    padding: 0;
    justify-content: center;
  }
.carspecificationmodal:not(.show){
  transform: translateY(100vh);
  opacity: 1;
}
.carspecificationmodal{
  transition: 0.3s ease all;
    transform: translateY(0vh);

}
  .car_pagination,
  .benefits_pagination {
    position: static;
  }
  .blurcontainer{
    padding: 20px;
  }
  .tabcomponent,.tabstoggle{
    width: 100%;
    background: #f7f7f7;
cursor: pointer;
    border-radius: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    gap: 20px;
}

.tabcomponent i{
padding: 5px;
border-radius: 8px;
background: linear-gradient(to bottom, #e3e7f8, #e3e7f846);
font-size: 20px;
border: 1px solid white;
}

.specificationwindowcontainer{
  padding: 20px;
  border-radius: 0;
   border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-content{
    border-radius: 0;
   border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.car_slide {
  height: 450px ;
  border: 1px solid rgba(255, 255, 255, 0.253);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.116);
  position: relative;
  overflow: hidden;
  
}
.accordionscontainer {
  min-height: 500px;
}
.searchbuttoncontainer{
padding: 30px 20px;

background-color: white;
}
.car_swiper .swiper-slide-active {

   transition: 0.3s ease all;
}
.tabs-accordioncontainer{
  display: flex;
  flex-direction: column;
  justify-content: start !important;
}
  .reasons .container-fluid::before,
  .faq::before {
    content: "";
    position: absolute;
    left: 100px;
    top: -00px;
    width: 100%;
    height: 100%;
    background: url(./assets/images/blur\ 1.png) top left no-repeat;
    opacity: 0.2;
    background-size: auto 700px;
    pointer-events: none;
  }



footer {
  padding: 40px 10px 10px 10px;
}
  .iso {

    justify-content: start;
  }
  .leasesection  img{
    border-radius: 0;
  }
  .textonmainbanner {
  color: white;
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
}
.Reason {
margin: 0 10px;
}
.nav-item{
  flex: 1;
  padding: 0;
  min-height: 100%;
  text-wrap: nowrap;
  width: 50%;
}
.nav-link{
  padding: 10px 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
}